
body {
    text-align: center;
}

table,
td {
    border: 2px solid black;
}

#cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 5px solid black;
    background-color: cyan;
    padding: 20px;
}