
:root {
    --bright-white: white;
    --bright-blue: #51e2f5;
    --blue-green: #9df9ef;
    --dusty-white: #edf7f6;
    --pink-sand: #ffa8B6;
    --dark-sand: #a28089;

    --card-shadow: rgba(0, 0, 0, 0.20) 0px 2px 5px;
    --radius: 10px;
}


body {
    background-color: var(--dusty-white);
    display: flex;
    justify-content: center;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    width: 1500px;
}

.card {
    background-color: var(--bright-white);
    box-shadow: var(--card-shadow);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 200px;
    padding: 20px;
}

#add-button {
    display: none;
}

#add-form {
    display: none;
    padding: 50px;
    text-align: center;
}

#add-form div {
    margin: 20px;
}