
:root {
    --bright-white: #FDFDFF;
    --bright-blue: #51e2f5;
    --blue-green: #9df9ef;
    --dusty-white: #edf7f6;
    --pink-sand: #ffa8B6;
    --dark-sand: #a28089;
    --grey: #62929E;

    --card-shadow: rgba(0, 0, 0, 0.20) 0px 2px 5px;
    --radius-l: 10px;
    --radius-s: 5px;

    --ff: 'Reem Kufi Ink', sans-serif;
    
    --flarge: 24px;
    --fnormal: 20px;
    --fsmall: 16px;

    --bold: 900;
    --medium: 700;
    --normal: 500;

    --site-width: 1500px;

    --spacing-l: 40px;
    --spacing-m: calc(var(--spacing-l) * 0.5); /*20px*/
    --spacing-s: calc(var(--spacing-m) * 0.5); /*10px*/
    --spacing-xs: calc(var(--spacing-s) * 0.5); /*5px*/
}


body {
    margin: 0;
    background-color: var(--dusty-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--ff);
    gap: var(--spacing-l);
}

/** Header **/

header {
    height: 100px;
    width: 100%;
    background-color: #393D3F;
}

/** Cards **/

p {
    margin: 0;
}

#cards-container {
    font-weight: var(--normal);
    font-size: var(--fnormal);
    width: var(--site-width);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: var(--spacing-l);
}

.card {
    background-color: var(--bright-white);
    box-shadow: var(--card-shadow);
    border-radius: var(--radius-l);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: var(--spacing-m);
    gap: var(--spacing-m);
    position: relative;
}

#add-form {
    display: none;
    padding: 50px;
    text-align: center;
}

#add-form div {
    margin: var(--spacing-m);
}

/** Buttons **/

button {
    /*Button reset*/
    border: medium none;
    list-style: none outside none;
    margin: 0;
    border-spacing: 0;
    text-indent: 0;
    text-align: left;
    text-decoration: none;

    /*General button styling*/
    border-radius: var(--radius-s);
    background-color: #ffa8B6;
    font: inherit;
    padding: 10px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.close-button {
    position: absolute;
    right: var(--spacing-s);
    top: var(--spacing-s);
    cursor: pointer;
}

.close-button:hover {
    transform: scale(1.5);
    transition-duration: 0.5s;
}

#add-button {
    width: 150px;
}