
body {
    display: flex;
    justify-content: center;
}

#cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 200px;
    border: 5px solid black;
    background-color: cyan;
    padding: 20px;
}

#add-button {
    display: none;
}

#add-form {
    display: none;
    background-color: grey;
    padding: 50px;
    text-align: center;
}

#add-form div {
    margin: 20px;
}