
:root {
    --bright-white: white;
    --bright-blue: #51e2f5;
    --blue-green: #9df9ef;
    --dusty-white: #edf7f6;
    --pink-sand: #ffa8B6;
    --dark-sand: #a28089;

    --card-shadow: rgba(0, 0, 0, 0.20) 0px 2px 5px;
    --radius: 10px;

    --ff: 'Reem Kufi Ink', sans-serif;
    
    --flarge: 24px;
    --fnormal: 20px;
    --fsmall: 16px;

    --bold: 900;
    --medium: 700;
    --normal: 500;

    --site-width: 1500px;

    --spacing-l: 40px;
    --spacing-m: calc(var(--spacing-l) * 0.5);
    --spacing-s: calc(var(--spacing-m) * 0.5);
    --spacing-xs: calc(var(--spacing-s) * 0.5);
}


body {
    background-color: var(--dusty-white);
    display: flex;
    justify-content: center;
    font-family: var(--ff);
}

p {
    margin: 0;
}

#cards-container {
    font-weight: var(--normal);
    font-size: var(--fnormal);
    width: var(--site-width);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--spacing-l);
}

.card {
    background-color: var(--bright-white);
    box-shadow: var(--card-shadow);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: var(--spacing-m);
    gap: var(--spacing-m);
}

#add-button {
    display: none;
}

#add-form {
    display: none;
    padding: 50px;
    text-align: center;
}

#add-form div {
    margin: var(--spacing-m);
}